@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'arialNarrow';
  src: local(''), url('../public/fonts/arial-narrow/ARIALN.TTF') format('ttf');
  font-weight: normal;
  font-size: normal;
}

:root {
  --header-height: 100px;
  --pa-pink: #FF89DE;
  --link-green: #32CD32;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "arialNarrow",  sans-serif, "Times New Roman", Times, serif;
  font-weight: 300;
  font-size: 18px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header {
  height: var(--header-height);
}

.text-underline {
  position: relative;
}

.text-underline:after {
  content: '';
  width: 100%;
  border-bottom: 1px solid #000;
  display: block;
  position: absolute;
  bottom: 4px;
}

.text-underline:hover:after {
  border-color: var(--link-green);
}

.pa--hero {
  padding-bottom: var(--header-height);
}

/* Style Drops UI */
.drops-ui__mint-button--button,
.connect__button {
  @apply w-auto 
}

@keyframes pulse {
  from {
    opacity: .5;
  }
  to {
    opacity: 1;
  }
}

.mint-prompt {
  position: relative;
}

.mint-prompt:before {
  content: '● ';
  color: #32CD32;
  animation: pulse infinite 1000ms alternate;
}